$red: #ff6969;
$darkgrey: #1c1b1b;
$darkblue: #0a3f59;
$blue: #135780;
$lightblue:#47C2C6;


body, html{
  height: 100%;
}

body{
  //padding-top: 70px;
  background-color: $blue;
  background-image: url(../images/home_background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.hidden{
  display: none;
}

#topSectionRow
{
	background-color: $darkblue;
	border-bottom: 2px solid $lightblue;
	padding: 6px 0px;
}

#topSectionRow h2
{
	font-family: 'Exo', Arial, Times, Serif;
	font-weight: 600;
	font-style: italic;
	color: $lightblue;
	font-size: 1em;
	text-align: left;
	margin: 3px 0 0 0;
	padding: 0;
}

#topSectionRow p
{
	font-family: 'Exo', Arial, Times, Serif;
	font-weight: 400;
	font-style: italic;
	color: $lightblue;
	font-size: 1em;
	text-align: right;
	margin: 0;
	padding: 0;
}

#topSectionRow span
{
	font-weight: 600;
}

.mainContainer{
  background-image: url(../images/bg0.jpg);
  background-position: center;
  background-size: cover;
  height: 100%;
}

#logoIcon{
  position: absolute;
  top: 46%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 400px;
}

#hamburgerIcon{
  height: 40px;
  position: fixed;
  padding: 7.5px;
  top: 20px;
  left: 20px;
  z-index: 10;
  background-color: $blue;
  border-radius: 3px;
  &:hover{
    cursor: pointer;
  }
}