$pink: #ee2676;
$darkgrey: #1c1b1b;
$darkblue: #0a3f59;
$blue: #135780;
$lightblue:#47C2C6;
$deepblue: #0a3f59;


body, html{
  height: 100%;
}

body{
  //padding-top: 70px;
  background-color: $blue;
  background-image: url(../images/home_background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

a{
      color:$lightblue;
      transition: color 1s;


        &:link,&:visited{
          color: $lightblue;
          text-decoration: none;
        }

        &:hover{
          color: $pink;
          text-decoration: none;
        }

        &:active{
          color: $lightblue;
          text-decoration: none;
        }

    }

.hidden{
  display: none;
}

#topSectionRow
{
	background-color: $darkblue;
	border-bottom: 2px solid $lightblue;
	padding: 6px 0px;
}

#topSectionRow h2
{
	font-family: 'Exo', Arial, Times, Serif;
	font-weight: 600;
	font-style: italic;
	color: $lightblue;
	font-size: 1em;
	text-align: center;
	margin: 3px 0 0 0;
	padding: 0;
}

#topSectionRow p
{
	font-family: 'Exo', Arial, Times, Serif;
	font-weight: 400;
	font-style: italic;
	color: $lightblue;
	font-size: 1em;
	text-align: center;
	margin: 0;
	padding: 0;
}

#topSectionRow span
{
	font-weight: 600;
}

#homeTextBottom
{
	position: absolute;
	top: 80%;
}

#homeTextBottom h1
{
	font-family: 'Exo', Arial, Times, Serif;
	font-weight: 400;
	font-style: italic;
	color: $blue;
	font-size: 1.5em;
	text-align: center;
}

#homeTextBottom span
{
	color: $pink;
}

ul{
  height: 40px;
  background-color: $deepblue;
  position: absolute;
  top: 70px;
  left: 55px;
  overflow: hidden;
  padding-left: 7px;
  padding-right: 5px;
  border-radius: 3px;
  transform-origin: "left center";
  transform: scaleX(0);
  z-index: 8;
  li{
    float: left;
    list-style: none;
    padding-top: 10px;
    margin: 0 10px 0 10px;
    opacity: 0;
    font-family: "Exo";
    font-weight: 600;
    font-style: italic;
  }
}

.current{
  color: $pink !important;
  transition: color 1s;
}

#logoIcon{
  position: absolute;
  top: 46%;
  right: 50%;
  transform: translate(50%,-50%);
  width: 300px;
  transition: top 1s, right 1s, width 1s;
}

.corner{
  top: 150px !important;
  width: 200px !important;
}

#hamburgerIcon{
  height: 40px;
  position: fixed;
  padding: 7.5px;
  top: 70px;
  left: 20px;
  z-index: 10;
  background-color: $blue;
  border-radius: 3px;
  &:hover{
    cursor: pointer;
  }
}

/* Medium and up */
@media screen and (min-width: 48em) {

	ul
	{
		top: 50px;
	}

	#hamburgerIcon
	{
		top: 50px;
	}

	#topSectionRow h2
	{
		text-align: left;
	}

	#topSectionRow p
	{
		text-align: right;
	}

  #logoIcon{
    width: 400px;
  }

  .corner{
    top: 130px !important;
    right: 100px !important;
    width: 200px !important;
  }

}

/* Medium only */
@media screen and (min-width: 48em) and (max-width: 62em) {}

/* Large and up */
@media screen and (min-width: 62em) {}

/* Large only */
@media screen and (min-width: 62em) and (max-width: 75em) {}

/* X-Large and up */
@media screen and (min-width: 75em) {}
